:root {
  --content-width: 800px;

  --color-black: #1a1c2c;
  --color-maroon: #5d275d;
  --color-red: #b13e53;
  --color-orange: #ef7d57;
  --color-yellow: #ffcd75;
  --color-lime: #a7f070;
  --color-green: #38b764;
  --color-teal: #257179;
  --color-navy: #29366f;
  --color-blue: #3b5dc9;
  --color-sky: #41a6f6;
  --color-cyan: #73eff7;
  --color-white: #f4f4f4;
  --color-white-grey: #dbe5eb;
  --color-light-grey: #94b0c2;
  --color-grey: #566c86;
  --color-dark-grey: #333c57;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  min-height: 100vh;
}

a {
  color: var(--color-blue);
}

a:visited {
  color: var(--color-navy);
}

code.hljs {
  font-size: .9em;
  margin: 1.5em 0;
}

code:not(.hljs) {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  background: var(--color-white-grey);
  padding: .2em .4em;
  font-size: 85%;
  white-space: break-spaces;
}

.topbar {
  color: var(--color-white);
  background: var(--color-dark-grey);
}

.topbar-content {
  margin: 0 auto;
  padding: 12px 0;
  line-height: 48px;
  width: var(--content-width);
  display: flex;
  flex-direction: row;
}

.topbar-title {
  flex: 1;
  margin: 0;
  font-weight: 500;
}

.topbar-nav {
  flex: 0 0 auto;
  font-size: .8em;
}

.topbar-nav-link {
  color: var(--color-white);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  padding: 12px;
  line-height: 48px;
}

.topbar-nav-link:hover {
  color: var(--color-lime);
}

.topbar-nav-link:visited {
  color: var(--color-white);
}

.topbar-nav-link.selected {
  color: var(--color-green);
}

.topbar-nav-link .github-icon {
  width: 32px;
  height: 32px;
  vertical-align: -10px;
}

.page-header {
  color: var(--color-white);
  background: var(--color-grey);
}

.page-title {
  margin: 0 auto;
  width: var(--content-width);
  padding: 12px 0;
  font-weight: 300;
}

.page-content {
  margin: 12px auto;
  width: var(--content-width);
}

.hero-image-container {
  margin: 1em auto;
  text-align: center;
}

.page-content li {
  margin: .6em 0;
}

.page-content h3 {
  margin-top: 2em;
  color: var(--color-green);
  font-size: 1.6em;
  font-weight: 400;
}

.page-content h4 {
  margin-top: 2em;
  color: var(--color-green);
  font-size: 1.1em;
  font-weight: 600;
}

.page-content
